<div class='control-group'>	\
	<select class='input-small' name='sort_attr' style='margin-bottom:0;'>\
		<option value='location'>Location</option>\
		<option value='strand'>Strand</option>\
		<option value='pvalue'>P-value</option>\
		<option value='qvalue'>Q-value</option>\
		<option value='fold'>Fold</option>\
		<option value='tagcount'>Tag count</option>\
		<option value='size'>Size</option>\
		<option value='summitvp'>SummitP</option>\
		<option value='summitv5'>Summit5</option>\
	</select>\
	<select class='input-small' name='sort_direction' style='margin-bottom:0; margin-left: 0;'>\
		<option value='asc'>Asc.</option>\
		<option value='desc'>Desc.</option>\
	</select>\
	<button type='button' class='close remove-one-sort' style='margin-top:5px;' onclick='remove_one_sort(event)'>&times;</button>\
</div>