{% extends "base.html" %}
{% block statics %}
    <script type="text/javascript">
        $(document).ready(function(){
            var fixHelper = function(e, ui) {
                ui.children().each(function() {
                    $(this).width($(this).width());
                });
                return ui;
            };
            $('.sortable_table tbody').sortable({
                helper: fixHelper,
                placeholder: "ui-state-highlight"
            });
        })

    </script>
{% endblock %}
{% block content %}
    
    <div id="accordion">
        <div style="vertical-align:middle">
            <table class="table table-striped table-bordered sortable_table">
                <thead>
                {% for hn in table_header %}
                    <th>{{ hn }}</th>
                {% endfor %}
                </thead>
                <tbody >
                    {% block populate_table %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
    
    </div>
{% endblock %}
