{% extends "base.html" %}
{% block statics %}
    <script type="text/javascript">
        $(document).ready(function(){
            var fixHelper = function(e, ui) {
                ui.children().each(function() {
                    $(this).width($(this).width());
                });
                return ui;
            };
            $('#main-tbody').sortable({
                helper: fixHelper,
                placeholder: "ui-state-highlight"
            });
        })

    </script>
    {% block more_statics %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div style="vertical-align:middle" class="table-area">
        <table id="main-table" class="table table-striped table-bordered sortable_table table-nonfluid">
            <thead>
            {% for hn in table_header %}
                <th>{{ hn }}</th>
            {% endfor %}
            </thead>
            <tbody id="main-tbody">
                {% block populate_table %}
                {% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}
