.left_col {
	fill: #b6d7a8;
}

.right_col {
	fill: #f9cb9c;
}

.mid_col {
	fill: #f9cb9c;
}

.h-list li{
	display: block;
	list-style-type: none;
	padding-right: 20px;
	max-width: 400px;
	min-width: 60px;
	overflow: hidden;
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 80%;
}

#accordion{
	padding: 0;
}

.h-list {
	margin: 0 5px;
	width: 30%;
	float: left;
}


.my-accordion-click{
	margin: 0;
}

.li-label {
	display: inline-block;
	width: 100px;
}

.link-to-map{
	clear: both;
	position: relative;
	display: block;
	width: 30%;
	float: left;
}


.table-nonfluid {
	min-width: 60%;
   	width: auto;
}


.row-fluid > .sidebar-nav-fixed {
	width: 240px;
    position:absolute;
 }

.row-fluid > .span-fixed-sidebar {
    margin-left: 242px;

}
